<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HeyPlease.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6857A57E2035F8DE00FCAAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6857A5922035F8DF00FCAAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6857A59D2035F8DF00FCAAA1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
